body {
  font-size: 1.1rem;
  background: url("./whitediamond.png") no-repeat center center/cover;
}

#city-input,
#weather-output {
  max-width: 400px;
  margin: 0 auto;
}

.banner {
  color: #ffd23f;
  font-family: sans-serif;
}
